.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 10px;
  text-align: left;
  background-color: black;
  height: 100px;
  
}

.nav-container h1 {
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transform: color 0.3s;
}

.navbar a:hover {
  color: orange;
}

.navbar {
  margin-left: 1030px;
  transform: translateY(30px);
}

.sign a {
  color: black;
}

.sign {
  margin-left: 740px;
  transform: translateY(-30px);

}
.bar{
  color: white;
  transform: translateY(-90px);
 margin-left: 10px;
  
  
}

.Icon-nav {
  color: white;
  transform: translateY(-60px);
  margin-left: 856px;
}

.anhnen img {
width: 2370px;
overflow: hidden;

}
.anhnen{
  width: 2429px;
    
    height: 700px;
    overflow: hidden;
    position: relative;
    transform: translateY(-22px);
}
.anhnen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.anhnen-content h1 {
  position: absolute;
  top: 35%;
  left: 43%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  font-family: 'Arial Black', 'Helvetica', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
 
}
.anhnen-content p{
  position: absolute;
    left: 32%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family:  'Helvetica', sans-serif;
    transform: translateY(350px);
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
}
.anhnen::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 7, 7, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1;
}
.learnMore{
  position: absolute;
    left: 37%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-family: 'Arial Black',sans-serif;
    transform: translateY(458px);
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
   transition: color 2s;
}
.learnMore:hover{
  color: #1E40AF;
}
.learnMore a{
  color: black;
  transition: color 0.1s;
}
.learnMore a:hover{
  color:orange
}
html,
body {
  
  overflow-x: hidden;
  
}