@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.board-dealerstaff {
    background: #3e883e;
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-card {
    background-color: #FFFFFF;
    width: 220px;
    height: 95%;
    border-radius: 30px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

/* Thương hiệu */
.brand h3 {
    color: #337036;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 0;
}

/* Hồ sơ */
.profile {
    text-align: center;
    margin-top: -200px;
}

.icon {
    font-size: 40px;
    color: #2E7D32;
    margin-bottom: 10px;
}

.staff-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #111;
}

.role {
    color: #777;
    font-size: 14px;
    margin: 0;
}

/* Menu chức năng */
.menu {
    width: 100%;
    transform: translateY(-280px);
}

.menu-title {
    text-align: center;
    font-weight: bold;
    color: #2E7D32;
    margin-bottom: 10px;
   
}

.menu ul {
    list-style: none;
    padding-left: 10px;
}

.menu li {
    font-size: 15px;
    color: #444;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter', sans-serif;
   
   
}
.bao,.hang,.quan,.truy{
display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    color: #444;
    cursor: pointer;
    transition: all 0.3s ease;
   
   
}

.bao:hover,.hang:hover,.quan:hover,.truy:hover {
  background-color: whitesmoke; /* màu xám nhạt nền */
  color: #2E7D32; /* đổi màu chữ */
   
}
.title{
    position: fixed;
        top: 0;
        left: 0;
        width: 270px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 230px;
        margin-top: -350px;
}
.search-bar{
   margin-left: 700px;
   height: 60px;
   background: white;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   

      

}
.search{
position: fixed;
    width: 400px;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 350px;
}
.search-bar input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.bell{
    position: fixed;
    margin-left: 1475px;
    margin-top: -383px;
    background-color: rgb(225, 238, 224);
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.icon{
    margin-left: 6px;
    margin-top: 7px;
}
.car{
    position: fixed;
        width: 300px;
        height: 50px;
        margin-top: 300px;
        overflow: hidden;
        transform: translateX(-58px);
}
.car-moving{
    position: absolute;
    left: 0;
    animation:  drive 3s linear infinite
    
}

@keyframes drive {
    from {
        left: 50px;
    }

    to {
        left: 100%;
    }
   
}
.road {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    /* độ dày của đường */
    background-color: #a4db99;
    margin-top: 40px;
    margin-left: 82px;
    background-image: repeating-linear-gradient(to right,
                #ffffff,
                #ffffff 20px,
                transparent 20px,
                transparent 40px);
}


